FROM wordpress:{{ wordpress_version }}

RUN apk upgrade --update --no-cache && \
  apk add --no-cache \
    msmtp \
    mailx

# COPY msmtprc /etc/msmtprc
COPY --chown=www-data:www-data msmtprc /home/www-data/.msmtprc
COPY php.ini /usr/local/etc/php/php.ini

# RUN chmod 600 /etc/msmtprc && \
#     echo "sendmail_path = /usr/bin/msmtp -t" >> /usr/local/etc/php/php.ini-production && \
#     mv "$PHP_INI_DIR/php.ini-production" "$PHP_INI_DIR/php.ini"