# Set default values for all following accounts.
defaults
auth           off
tls            off
syslog         on

# Local mailserver
account        local
host           postfix
port           25
from           {{ wp_from_mail }}

# Set a default account
account default : local

aliases         /etc/aliases