version: '3.4'

x-logging: &default-logging
    driver: "json-file"
    options:
        max-size: "500k"
        max-file: "10"

x-volumes: &wp-volume
    - {{ wp_data }}:/var/www/html

services:
  app:
    build: ./wordpress
    restart: always
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: {{ maria_wp_user }}
      WORDPRESS_DB_PASSWORD: {{ maria_wp_password }}
      WORDPRESS_DB_NAME: {{ maria_wp_dbname }}
    networks:
      - internal-fpm
      - internal-db
    depends_on:
      - db
    logging: *default-logging
    volumes: *wp-volume

  db:
    image: mariadb:{{ mariadb_version }}
    restart: always
    environment:
      MYSQL_DATABASE: {{ maria_wp_dbname }}
      MYSQL_USER: {{ maria_wp_user }}
      MYSQL_PASSWORD: {{ maria_wp_password }}
      MYSQL_ROOT_PASSWORD: {{ maria_root_password }}
    volumes:
      - db:/var/lib/mysql
    networks:
      - internal-db
    logging: *default-logging

  web:
    build: ./web
    restart: always
    volumes: *wp-volume
    environment:
      - VIRTUAL_HOST={{ wp_domain }}
    depends_on:
      - app
    expose:
      - 80
    networks:
      - web
      - internal-fpm
    logging: *default-logging
    labels:
      - "traefik.backend={{ wp_name}}-wordpress"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:{{ wp_domain }}"
      - "traefik.enable=true"
      - "traefik.port=80"

  postfix:
    image: mwader/postfix-relay
    environment:
      - POSTFIX_myhostname={{ wp_domain }}
      - OPENDKIM_DOMAINS={{ wp_domain }}=wordpress
    volumes:
      - {{ compose_directory }}/mail-data/opendkim/keys:/etc/opendkim/keys
    labels:
      traefik.enable: "false"
    restart: "always"
    expose: 
      - 587
      - 25
    networks:
      - internal-fpm
    logging: *default-logging

networks:
  internal-fpm:
  internal-db:
  web:
    external: true

volumes:
  db:
