#!/bin/bash

cd "$(dirname "$0")"
echo "start backup wordpress {{ wp_name }}"
COMPOSE_INTERACTIVE_NO_CLI=1
if [ -z `/usr/local/bin/docker-compose ps -q db` ] || [ -z `/usr/bin/docker ps -q --no-trunc | grep $(/usr/local/bin/docker-compose ps -q db)` ]; then
	echo "Database is not running. Backup wordpress {{ wp_name }} aborted"
else
    /usr/local/bin/docker-compose exec -T db sh -c 'exec mysqldump --all-databases -uroot -p"{{ maria_root_password }}"' > {{ maria_wp_backupfile }}
    echo "backup wordpress {{ wp_name }} done"
fi
